.navbar-brand {
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;

}

.navbar-nav {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

.navbar {
   box-shadow: 0px 5px 10px #888888;
   background-color: #22313F;
}

 /* Navigationsleisten Farbe */

 .navbar-inverse .navbar-nav>.active>a:focus,
 .navbar-inverse .navbar-nav>.active>a,
 .navbar-inverse .navbar-nav>.active>a:hover {
   background-color: #34495E;
 }

.navbar-inverse .navbar-nav>li>a:hover {
  background-color: #2C3E50;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
/* Navigationsleisten Farbe Ende */
body {
    background-color: #34495e;
}

.fa {
    margin-right: 5px;
}

.navbar-nav>li {
    border-style: solid;
    border-width: 0px 1px 0px 1px;
    border-color: azure;
}

.navbar-nav>li:first-of-type {
    border-style: solid;
    border-width: 0px 1px 0px 2px;
    border-color: azure;
}

.navbar-nav>li:last-of-type {
    border-style: solid;
    border-width: 0px 2px 0px 1px;
    border-color: azure;
}